:root {
  --cor-primaria: #27374D;
  --cor-secundaria: #526D82;
  --cor-terciaria: #9DB2BF;
  --cor-quaternaria: #DDE6ED;
}

table {
  width: 100%;
  table-layout: fixed; /* Define a largura fixa para as colunas */
  border-collapse: collapse; /* Garante que as bordas não tenham espaços entre si */
}

th.text-center,
td input {
  text-align: center;
}

th.text-center {
  background-color: var(--cor-secundaria);
  color: var(--cor-quaternaria);
  padding: 10px; /* Adiciona um pouco de espaço ao redor do texto */
  vertical-align: middle; /* Alinha verticalmente o texto ao centro */
  border: 1px solid #ddd; /* Define bordas para uma melhor visualização */
}

td input {
  width: 100%; /* Garante que os inputs preencham a célula completamente */
  box-sizing: border-box; /* Inclui padding e borda na largura total */
  text-align: center; /* Centraliza o texto dos inputs */
}

th.text-center:nth-child(1) {
  width: 7%; /* Quantidade */
}

th.text-center:nth-child(2) {
  width: 20%; /* Descrição do Produto */
}

th.text-center:nth-child(3) {
  width: 7%; /* Preço Unitário */
}

th.text-center:nth-child(4) {
  width: 7%; /* Preço Final */
}

th.text-center:nth-child(5),
th.text-center:nth-child(6),
th.text-center:nth-child(7),
th.text-center:nth-child(8) {
  width: 10%; /* Colunas extras */
}

th.text-center:nth-child(9) {
  width: 10%; /* Ações */
}

.obs-oficina {
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.obs-oficina input {
  /* Estilos adicionais para os inputs dentro da div */
  width: 200px; /* Por exemplo, ajuste conforme necessário */
  margin-bottom: 10px; /* Espaçamento entre os inputs */
}

.oficina-input {
  margin-left: 10px;
}

.form-pgto-input {
  margin-left: 5px;
}

.valor-final {

}
