:root {
  /* Cores */
  --cor-primaria: #57848b;
  --cor-secundaria: #57848b;
  --cor-botoes: #57848b;
  --cor-texto: #273133;
  --cor-white: #f4f4f4;
  --cor-fundo: #ebe9f1;
  --cor-destaque: #5b7b80;

  /* Fontes */
  --fonte-principal: "Montserrat", sans-serif;
  --fonte-secundaria: "Montserrat", sans-serif;
}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: var(--fonte-principal);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

main {
  height: 100%;
  width: 100%;
  padding: 30px 80px;
}

/* Navbar */
/* Navbar */
.navbar {
  background-color: var(--cor-secundaria);
  color: var(--cor-white);
  display: flex;
  align-items: center; /* Centraliza verticalmente */
  justify-content: space-between; /* Espaça logo e links */
  padding: 10px 20px; /* Adiciona espaçamento interno */
  position: static;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
  max-width: 150px; /* Ajuste o tamanho do logo */
  height: auto;
}

.nav-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  color: var(--cor-white);
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-link:hover {
  color: var(--cor-destaque);
}

/* Footer */
.footer {
  background-color: var(--cor-secundaria);
  color: var(--cor-white);
  text-align: center;
  padding: 10px 0;
  position: static;
  width: 100%;
  bottom: 0;
  left: 0;
}

.link-footer {
  color: var(--cor-white);
  text-decoration: none;
  margin-right: 20px;
}
