:root {
  /* Cores */
  --cor-primaria: #57848b;
  --cor-secundaria: #57848b;
  --cor-botoes: #57848b;
  --cor-texto:#273133;
  --cor-white: #f4f4f4;
  --cor-fundo: #ebe9f1;
  --cor-destaque:#5B7B80;

  /* Fontes */
  --fonte-principal: 'Montserrat', sans-serif;
  --fonte-secundaria: 'Montserrat', sans-serif;
}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: var(--fonte-principal);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

main {
  height: 100%;
  width: 100%;
  padding: 30px 80px;
}

/* Navbar */
.navbar {
  background-color: var(--cor-secundaria);
  color: var(--cor-white);
  position: static;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  color: var(--cor-white);
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-link:hover {
  color:  var(--cor-destaque);
}

.extras-hidden {
  display: none;
}

/* Rodapé */
.footer {
  background-color: var(--cor-secundaria);
  color: var(--cor-white);
  text-align: center;
  padding: 10px 0;
  position:static;
  width: 100%;
  bottom: 0;
  left: 0;
}

/* Layout responsivo */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.cabecalho-os {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 5px;
}  

.btn__adicionar {
  text-align: center;
}

.text-center {
  text-align: center;
  padding: 6px;
}


.form-control {
  width: 100%;
  padding: 6px;
  border: 1px solid var(--cor-fundo);
  border-radius: 4px;
}

.btn-add-row, .btn-toggle-columns, .btn-submit {
  background-color: var(--cor-botoes);
  color: var(--cor-white);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  margin: 10px;
}

.btn-remove-row {
  border: none;
  color: var(--cor-texto);

}

.btn-remove-row:hover {
  color: red;
  
}


.btn-add-row:hover, .btn-toggle-columns:hover, .btn-submit:hover {
  background-color: var(--cor-botoes);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd9d9;
  text-align: left;
}

.col-quantidade {
  width: 10%;
}

.col-descricao {
  width: 40%;
}

.col-preco-unitario {
  width: 15%;
}

.col-preco-final {
  width: 15%;
}

.coluna-extra {
  width: 30%;
}

.table th {
  background-color: var(--cor-secundaria);
  color: var(--cor-white);
}


.table-success {
  
  color: var(--cor-texto);
}



tfoot td {
  text-align: right;
}

.observacoes {
  display: block;
  margin-top: 30px;
  text-align: left;
}

.input-final {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin: 15px;
}

.input-final input{
  width: 15em;
}

.entrega {
  width: 15em;
  padding: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn__salvar {
  text-align: center;
}

/* Estilo para tablets */
@media (max-width: 768px) {
  .nav-list {
      flex-direction: column;
      align-items: center;
  }

  .cabecalho-os {
      display: flex;
      flex-direction: column;
  }

  .input-final {
    flex-direction: column;
    align-items: center;
  }
}

/* Estilo para dispositivos móveis */
@media (max-width: 576px) {
  

  .table tr {
      margin-bottom: 15px;
  }

  .table td {
      text-align: right;
      position: relative;
  }

  .table td::before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 50%;
      padding-left: 15px;
      font-weight: bold;
      text-align: left;
  }
}
